/*.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $color-tiertiary;
  // position: fixed;
  z-index: 5;
  width: 100%;

  .logoContainer {
    width: 30%;
    .logoLink {
      margin-left: 2%;
      margin-top: 1%;
      margin-bottom: 1%;
    }
    .logo {
      width: 275px;
      object-fit: cover;
      margin-top: 3%;
      margin-left: 10%;
    }
  }

  .linkContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1%;
    .linkIcon {
      width: 10%;
      a i {
        color: black;
        font-size: 1.2rem;
        margin-left: 10%;
        margin-top: 10%;

        &:hover {
          color: $color-primary;
        }
      }
    }

    .menuContain {
      width: 80%;
      display: flex;
      justify-content: end;
    }

    .menu {
      display: flex;
      flex-direction: row;
      // margin-left: 25%;
      //width: 100%;
      margin-top: 6%;
      li {
        list-style: none;
        margin: 15px;
        a {
          text-decoration: none;
          color: black;
          //transition: 0.5s;
          padding-bottom: 15px;
          //font-family: "Patrick Hand", "roboto", cursive;
          font-size: 1.1rem;
          &:hover {
            font-weight: bold;
            // font-size: 1.1rem;
            color: $color-primary;
            border-bottom: 2px solid $color-primary;
          }
        }
      }
    }
  }

  @include media(phone) {
    .logoContainer {
      margin: 2%;
      display: flex;
      justify-content: center;
      .logo {
        width: 150px;
      }
    }
  }
}*/

/* header */

.header {
  background-color: $color-tiertiary;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.logoContainer {
  width: 50%;
  display: flex;
  align-items: center;

  max-height: 110px;

  img {
    width: 210px;
    margin-left: 15%;
  }
}

.linkContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.linkIcon {
  display: flex;
  flex-direction: row;
  justify-content: end;

  a {
    margin: 3%;
    color: black;

    i {
      color: black;
      font-size: 1.2rem;
      &:hover {
        color: $color-primary;
      }
    }
  }
}

.menuContainer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: $color-tiertiary;

  li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid $color-secondary;
    text-decoration: none;
    color: black;
  }
}

.header .header li a:hover,
.header .menu-btn:hover {
  color: $color-primary;
  border-bottom: 2px solid $color-primary;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 991px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .logoContainer {
    min-height: 140px;
    max-height: 160px;
  }
}
