@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*$color-primary: #4e6e93;
$color-primary: black;
$color-secondary: #e7e0d4;*/
/*$color-primary: #94cbcb;
$color-secondary: #5a615a;
$color-tiertiary: #eaeae7;*/
/* définition des breakpoints dans une map*/
/* Creation des mixins avec pour velurs les clefs de ma map*/
/*$color-primary: #4e6e93;
$color-primary: black;
$color-secondary: #e7e0d4;*/
/*$color-primary: #94cbcb;
$color-secondary: #5a615a;
$color-tiertiary: #eaeae7;*/
/* définition des breakpoints dans une map*/
/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;*/
body {
  font-family: "Roboto", "Quicksand", "Open Sans";
}

/*$color-primary: #4e6e93;
$color-primary: black;
$color-secondary: #e7e0d4;*/
/*$color-primary: #94cbcb;
$color-secondary: #5a615a;
$color-tiertiary: #eaeae7;*/
/* définition des breakpoints dans une map*/
body {
  background-color: #f4f5f4;
  margin: 0;
  font-size: 1.1rem;
}

/*$color-primary: #4e6e93;
$color-primary: black;
$color-secondary: #e7e0d4;*/
/*$color-primary: #94cbcb;
$color-secondary: #5a615a;
$color-tiertiary: #eaeae7;*/
/* définition des breakpoints dans une map*/
footer {
  height: 80px;
  background-color: #94cbcb;
  color: black;
  display: flex;
  justify-content: center;
}

/*.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $color-tiertiary;
  // position: fixed;
  z-index: 5;
  width: 100%;

  .logoContainer {
    width: 30%;
    .logoLink {
      margin-left: 2%;
      margin-top: 1%;
      margin-bottom: 1%;
    }
    .logo {
      width: 275px;
      object-fit: cover;
      margin-top: 3%;
      margin-left: 10%;
    }
  }

  .linkContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1%;
    .linkIcon {
      width: 10%;
      a i {
        color: black;
        font-size: 1.2rem;
        margin-left: 10%;
        margin-top: 10%;

        &:hover {
          color: $color-primary;
        }
      }
    }

    .menuContain {
      width: 80%;
      display: flex;
      justify-content: end;
    }

    .menu {
      display: flex;
      flex-direction: row;
      // margin-left: 25%;
      //width: 100%;
      margin-top: 6%;
      li {
        list-style: none;
        margin: 15px;
        a {
          text-decoration: none;
          color: black;
          //transition: 0.5s;
          padding-bottom: 15px;
          //font-family: "Patrick Hand", "roboto", cursive;
          font-size: 1.1rem;
          &:hover {
            font-weight: bold;
            // font-size: 1.1rem;
            color: $color-primary;
            border-bottom: 2px solid $color-primary;
          }
        }
      }
    }
  }

  @include media(phone) {
    .logoContainer {
      margin: 2%;
      display: flex;
      justify-content: center;
      .logo {
        width: 150px;
      }
    }
  }
}*/
/* header */
.header {
  background-color: #f4f5f4;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.logoContainer {
  width: 50%;
  display: flex;
  align-items: center;
  max-height: 110px;
}
.logoContainer img {
  width: 210px;
  margin-left: 15%;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.linkIcon {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.linkIcon a {
  margin: 3%;
  color: black;
}
.linkIcon a i {
  color: black;
  font-size: 1.2rem;
}
.linkIcon a i:hover {
  color: #94cbcb;
}

.menuContainer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #f4f5f4;
}
.menuContainer ul li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #e1e3e1;
  text-decoration: none;
  color: black;
}

.header .header li a:hover,
.header .menu-btn:hover {
  color: #94cbcb;
  border-bottom: 2px solid #94cbcb;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 991px) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

  .logoContainer {
    min-height: 140px;
    max-height: 160px;
  }
}
/*$color-primary: #4e6e93;
$color-primary: black;
$color-secondary: #e7e0d4;*/
/*$color-primary: #94cbcb;
$color-secondary: #5a615a;
$color-tiertiary: #eaeae7;*/
/* définition des breakpoints dans une map*/
#presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #e1e3e1;
}
#presentation .presentationImg {
  width: 40%;
}
#presentation .presentationImg img {
  width: 400px;
  padding: 2%;
  border-radius: 56% 44% 57% 43%/39% 59% 41% 61%;
}
#presentation .presentationText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  align-items: center;
  text-align: center;
}
#presentation .presentationText h2 {
  font-family: "Patrick Hand", cursive;
  font-size: 3rem;
  margin: 0;
}
#presentation .presentationText h3 {
  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  margin: 0;
}
#presentation .presentationText p {
  font-size: 1.3rem;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #presentation .presentationImg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #presentation .presentationImg img {
    width: 200px;
  }
  #presentation .presentationText {
    width: 95%;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #presentation .presentationImg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #presentation .presentationImg img {
    width: 200px;
  }
  #presentation .presentationText {
    width: 95%;
  }
}

#portfolio {
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  background: #f4f5f4;
}
#portfolio h2 {
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
}

.filtre {
  display: none;
}

label {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.25s;
  color: black;
  line-height: 2rem;
}

#all:checked + label {
  background: #ffc300;
  color: white;
}

#print:checked + label {
  background: #ff5733;
  color: white;
}

#webdesign:checked + label {
  background: #c70039;
  color: white;
}

#developpement:checked + label {
  background: #900c3f;
  color: white;
}

#print:checked ~ .cards .card:not(.print),
#webdesign:checked ~ .cards .card:not(.webdesign),
#developpement:checked ~ .cards .card:not(.developpement) {
  display: none;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  .cards {
    margin-top: 10%;
    align-items: center;
  }
}

.alignFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.alignFilter span {
  color: white;
  font-size: 2rem;
  margin-bottom: 9%;
}

#profil {
  background: #e1e3e1;
}
#profil a {
  color: #94cbcb;
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
}

#contact {
  padding-top: 2%;
  padding-bottom: 6%;
}
#contact h2 {
  margin-left: 5%;
  font-family: "Patrick Hand", cursive;
}
#contact .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#contact .contact .text {
  display: flex;
  flex-direction: column;
  width: 50%;
  z-index: 3;
}
#contact .contact .text .textePartOne {
  color: #94cbcb;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  margin-left: 15%;
}
#contact .contact .text a {
  color: #94cbcb;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  margin-left: 35%;
}
#contact .contact .imgContact {
  width: 50%;
}
#contact .contact .imgContact img {
  width: 500px;
  object-fit: cover;
  border-radius: 90px;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  #contact .contact {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  #contact .contact .imgContact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contact .contact .imgContact img {
    width: 300px;
    border-radius: 25px;
    position: static;
  }
  #contact .contact .text {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #contact .contact .text .textePartOne {
    margin-left: 0;
    margin: 0%;
  }
  #contact .contact .text a {
    margin: 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  #contact .contact {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  #contact .contact .imgContact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contact .contact .imgContact img {
    width: 350px;
    border-radius: 25px;
    position: static;
  }
  #contact .contact .text {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #contact .contact .text .textePartOne {
    margin-left: 0;
    margin: 0%;
  }
  #contact .contact .text a {
    margin: 0;
  }
}

.card {
  margin: 3%;
  cursor: pointer;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  position: relative;
  display: flex;
  align-items: center;
}
.card a {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  .card {
    width: 300px;
    height: 300px;
    margin: 0;
  }
  .card a {
    width: 300px;
    height: 300px;
  }
}

.cardImg {
  border-radius: 43% 57% 60% 40%/46% 32% 68% 54%;
  height: 400px;
  width: 400px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  .cardImg {
    width: 250px;
    height: 250px;
  }
}

.cardFilter {
  opacity: 0;
  position: relative;
  height: 400px;
  width: 400px;
  border-radius: 43% 57% 60% 40%/46% 32% 68% 54%;
  z-index: 2;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  .cardFilter {
    width: 250px;
    height: 250px;
  }
}
.cardFilter i {
  margin: auto;
}
.cardFilter:hover {
  display: flex;
  background-color: #94cbcb;
  opacity: 0.9;
}
.cardFilter:hover i {
  color: white;
  margin: auto;
  font-size: 1.8rem;
}

.portfolioMain {
  background: #f4f5f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
.portfolioMain .portfolioPresentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #e1e3e1;
  width: 100%;
}
.portfolioMain .portfolioPresentation .title {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.portfolioMain .portfolioPresentation .quote {
  width: 115px;
}
.portfolioMain .portfolioPresentation h1 {
  font-family: "Patrick Hand", "roboto", cursive;
  font-size: 3rem;
}
.portfolioMain .portfolioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.portfolioMain .portfolioContainer .DescriptifProject {
  margin-top: 3%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolioMain .portfolioContainer .DescriptifProject p {
  width: 80%;
  font-size: 1.2rem;
}
.portfolioMain .portfolioContainer .DescriptifProject p a {
  color: #94cbcb;
  font-weight: bold;
  font-size: 1.4rem;
}
.portfolioMain .portfolioContainer .imgProject {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolioMain .portfolioContainer .imgProject h2 {
  color: #94cbcb;
  font-size: 1.7rem;
  margin-top: 5%;
}
.portfolioMain .portfolioContainer .imgProject figure {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.portfolioMain .portfolioContainer .imgProject figure img {
  object-fit: cover;
  margin: 3%;
}
.portfolioMain .portfolioContainer .imgProject .twoImgs {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  .portfolioMain .portfolioContainer .imgProject .twoImgs {
    flex-direction: column;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .portfolioMain .portfolioContainer .imgProject .twoImgs {
    flex-direction: column;
  }
}

#profil {
  padding-top: 2%;
  padding-bottom: 6%;
}
#profil .profilContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}
#profil .profilContainer h1,
#profil .profilContainer h2,
#profil .profilContainer h3 {
  font-family: "Patrick Hand", "roboto", cursive;
}
#profil .profilContainer .profilPresentation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#profil .profilContainer .profilPresentation img {
  width: 450px;
  object-fit: cover;
}
#profil .profilContainer .profilPresentation .profilText {
  margin-left: 5%;
}
#profil .profilContainer .profilPresentation .profilText p {
  text-align: justify;
  width: 85%;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  #profil .profilContainer .profilPresentation {
    display: flex;
    flex-direction: column;
  }
  #profil .profilContainer .profilPresentation img {
    width: 180px;
  }
  #profil .profilContainer .profilPresentation .profilText {
    margin-left: 0;
  }
  #profil .profilContainer .profilPresentation .profilText p {
    width: 100%;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  #profil .profilContainer .profilPresentation {
    display: flex;
    flex-direction: column;
  }
  #profil .profilContainer .profilPresentation img {
    width: 280px;
  }
  #profil .profilContainer .profilPresentation .profilText {
    margin-left: 0;
  }
  #profil .profilContainer .profilPresentation .profilText p {
    width: 100%;
  }
}
#profil .profilContainer .skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#profil .profilContainer .skills img {
  width: 50px;
}
#profil .profilContainer .skills li {
  list-style-type: circle;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  #profil .profilContainer .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.oneImgPerLineOPR img {
  width: 700px;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  .oneImgPerLineOPR img {
    width: 300px;
  }
}

.twoImgPerLineOPR img {
  height: 480px;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  .twoImgPerLineOPR img {
    width: 300px;
    height: auto;
  }
}

.oneImgPerLineMiel img {
  width: 700px;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  .oneImgPerLineMiel img {
    width: 300px;
  }
}

.twoImgPerLineMiel {
  display: flex;
  flex-direction: row;
}
.twoImgPerLineMiel img {
  height: 250px;
}

.twoImgPerLineRéservia {
  display: flex;
  flex-direction: row;
}
.twoImgPerLineRéservia img {
  height: 300px;
}

.oneImgPerLineLCA img {
  width: 500px;
  border-radius: 10px;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  .oneImgPerLineLCA img {
    width: 300px;
  }
}

.twoImgPerLineLCA {
  display: flex;
  flex-direction: row;
}
.twoImgPerLineLCA img {
  height: 400px;
  border-radius: 10px;
}
@media screen and (min-width: 350px) and (max-width: 766px) {
  .twoImgPerLineLCA img {
    width: 300px;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
