.card {
  margin: 3%;
  cursor: pointer;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  position: relative;
  display: flex;
  align-items: center;
  a {
    width: 400px;
    height: 400px;
    text-decoration: none;
  }
  @include media(phone) {
    width: 300px;
    height: 300px;
    margin: 0;
    a {
      width: 300px;
      height: 300px;
    }
  }
}
.cardImg {
  border-radius: 43% 57% 60% 40% / 46% 32% 68% 54%;
  height: 400px;
  width: 400px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  @include media(phone) {
    width: 250px;
    height: 250px;
  }
}

.cardFilter {
  opacity: 0;
  // position: absolute;
  position: relative;
  height: 400px;
  width: 400px;
  border-radius: 43% 57% 60% 40% / 46% 32% 68% 54%;
  // display: flex;
  z-index: 2;
  @include media(phone) {
    width: 250px;
    height: 250px;
  }
  i {
    margin: auto;
  }

  &:hover {
    display: flex;
    background-color: $color-primary;
    opacity: 0.9;
    i {
      color: white;
      margin: auto;
      font-size: 1.8rem;
    }
  }
}
