@import "../utils/variables";

/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;*/

body {
  font-family: "Roboto", "Quicksand", "Open Sans";
}
