@import "../utils/variables";

#presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-top: 8%;
  width: 100%;
  background: $color-secondary;
  .presentationImg {
    width: 40%;
    img {
      width: 400px;
      padding: 2%;
      border-radius: 56% 44% 57% 43% / 39% 59% 41% 61%;
    }
  }
  .presentationText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    align-items: center;
    text-align: center;
    h2 {
      font-family: "Patrick Hand", cursive;
      font-size: 3rem;
      margin: 0;
    }
    h3 {
      font-family: "Patrick Hand", cursive;
      font-size: 2rem;
      margin: 0;
    }
    p {
      font-size: 1.3rem;
    }
  }
  @include media(phone) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .presentationImg {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 200px;
      }
    }
    .presentationText {
      width: 95%;
    }
  }

  @include media(tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .presentationImg {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 200px;
      }
    }
    .presentationText {
      width: 95%;
    }
  }
}

#portfolio {
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  background: $color-tiertiary;
  h2 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
  }
}

.filtre {
  display: none;
}

label {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.25s;
  color: black;
  line-height: 2rem;
}
#all:checked + label {
  background: #ffc300;
  //  background: #ff5733;
  color: white;
}
#print:checked + label {
  background: #ff5733;
  color: white;
}
#webdesign:checked + label {
  background: #c70039;
  color: white;
}
#developpement:checked + label {
  background: #900c3f;
  color: white;
}

#print:checked ~ .cards .card:not(.print),
#webdesign:checked ~ .cards .card:not(.webdesign),
#developpement:checked ~ .cards .card:not(.developpement) {
  display: none;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
  @include media(phone) {
    margin-top: 10%;
    align-items: center;
  }
}

.alignFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  span {
    color: white;
    font-size: 2rem;
    margin-bottom: 9%;
  }
}

#profil {
  background: $color-secondary;
  a {
    color: $color-primary;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
  }
}

#contact {
  padding-top: 2%;
  padding-bottom: 6%;
  h2 {
    margin-left: 5%;
    font-family: "Patrick Hand", cursive;
  }

  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .text {
      display: flex;
      flex-direction: column;
      width: 50%;
      z-index: 3;

      .textePartOne {
        color: #94cbcb;
        font-size: 2rem;
        text-decoration: none;
        font-weight: bold;
        margin-left: 15%;
      }

      a {
        color: #94cbcb;
        font-size: 1.8rem;
        text-decoration: none;
        font-weight: bold;
        margin-left: 35%;
      }
    }

    .imgContact {
      width: 50%;
      img {
        width: 500px;

        object-fit: cover;
        //  position: relative;
        border-radius: 90px;
      }
    }
  }

  @include media(phone) {
    .contact {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      .imgContact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 300px;
          border-radius: 25px;
          position: static;
        }
      }

      .text {
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .textePartOne {
          margin-left: 0;
          margin: 0%;
        }
        a {
          margin: 0;
        }
      }
    }
  }

  @include media(tablet) {
    .contact {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      .imgContact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 350px;
          border-radius: 25px;
          position: static;
        }
      }

      .text {
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .textePartOne {
          margin-left: 0;
          margin: 0%;
        }
        a {
          margin: 0;
        }
      }
    }
  }
}
