//au petit resto
.oneImgPerLineOPR {
  img {
    width: 700px;

    @include media(phone) {
      width: 300px;
    }
  }
}

.twoImgPerLineOPR {
  img {
    height: 480px;
    @include media(phone) {
      width: 300px;
      height: auto;
    }
  }
}

//miel
.oneImgPerLineMiel {
  img {
    width: 700px;
    @include media(phone) {
      width: 300px;
    }
  }
}

.twoImgPerLineMiel {
  display: flex;
  flex-direction: row;
  img {
    height: 250px;
  }
}

//réservia

.twoImgPerLineRéservia {
  display: flex;
  flex-direction: row;
  img {
    height: 300px;
  }
}

//la chouette agence
.oneImgPerLineLCA {
  img {
    width: 500px;
    border-radius: 10px;
    @include media(phone) {
      width: 300px;
    }
  }
}

.twoImgPerLineLCA {
  display: flex;
  flex-direction: row;
  img {
    height: 400px;
    border-radius: 10px;
    @include media(phone) {
      width: 300px;
      height: auto;
    }
  }
}
