.portfolioMain {
  background: $color-tiertiary;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-around;
  margin-top: 2%;

  .portfolioPresentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: $color-secondary;
    width: 100%;

    .title {
      display: flex;
      flex-direction: row;
      text-align: center;
    }
    .quote {
      width: 115px;
    }
    h1 {
      font-family: "Patrick Hand", "roboto", cursive;
      font-size: 3rem;
    }
  }

  .portfolioContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .DescriptifProject {
      margin-top: 3%;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        width: 80%;
        font-size: 1.2rem;

        a {
          color: $color-primary;
          font-weight: bold;
          font-size: 1.4rem;
        }
      }
    }

    .imgProject {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        color: $color-primary;
        font-size: 1.7rem;
        margin-top: 5%;
      }
      figure {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
          object-fit: cover;
          margin: 3%;
        }
      }
      .twoImgs {
        display: flex;
        flex-direction: row;
        @include media(phone) {
          flex-direction: column;
        }
        @include media(tablet) {
          flex-direction: column;
        }
      }
    }
  }
}
