#profil {
  padding-top: 2%;
  padding-bottom: 6%;

  .profilContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    h1,
    h2,
    h3 {
      font-family: "Patrick Hand", "roboto", cursive;
    }

    .profilPresentation {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 450px;
        object-fit: cover;
      }

      .profilText {
        margin-left: 5%;
        p {
          text-align: justify;
          width: 85%;
        }
      }
      @include media(phone) {
        display: flex;
        flex-direction: column;
        img {
          width: 180px;
        }
        .profilText {
          margin-left: 0;
          p {
            width: 100%;
          }
        }
      }

      @include media(tablet) {
        display: flex;
        flex-direction: column;
        img {
          width: 280px;
        }
        .profilText {
          margin-left: 0;
          p {
            width: 100%;
          }
        }
      }
    }
    .skills {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      img {
        width: 50px;
      }

      li {
        list-style-type: circle;
      }

      @include media(phone) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
