/*$color-primary: #4e6e93;
$color-primary: black;
$color-secondary: #e7e0d4;*/

/*$color-primary: #94cbcb;
$color-secondary: #5a615a;
$color-tiertiary: #eaeae7;*/

// #EAEAE7 beige
//#94CBCB bleu
//#393A39 gris
// #d24844 saumon

//##E1E3E1 gris foncé
//#F4F5F4 gris clair
//#E5CAA0 beige

$color-primary: #94cbcb;
$color-secondary: #e1e3e1;
$color-tiertiary: #f4f5f4;

/* définition des breakpoints dans une map*/

$breakpoints-max: (
  "tablet": 991px,
  "desktop": 4000px,
  "phone": 766px,
);
$breakpoints-min: (
  "tablet": 767px,
  "desktop": 992px,
  "phone": 350px,
);
